In [49]:
import pandas as pd
import os

In [50]:
sub_df = pd.read_csv('소상공인시장진흥공단_상가업소정보_의료기관_201909.csv',
                     encoding='cp949')
sub_df.shape

(91335, 39)

In [51]:
sub_df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [52]:
sub_df = sub_df[['시도명', '시군구명', '상권업종중분류명', '상권업종소분류명', '표준산업분류명', '상호명']]
sub_df.head()

     시도명     시군구명 상권업종중분류명 상권업종소분류명         표준산업분류명        상호명
0    경기도  안산시 단원구       병원     산부인과           일반 의원     하나산부인과
1  서울특별시      강남구       병원    내과/외과           일반 의원   타워광명내과의원
2    경기도      시흥시       병원     신경외과           일반 의원  조정현신경외과의원
3  부산광역시      수영구       병원     기타병원             NaN   한귀원정신과의원
4    경기도  용인시 수지구   약국/한약방       약국  의약품 및 의료용품 소매업  더블유스토어수지점

In [53]:
sub_df.isnull().sum()

시도명          379
시군구명         379
상권업종중분류명       0
상권업종소분류명       0
표준산업분류명     4922
상호명            0
dtype: int64

In [54]:
sub_df[sub_df['시군구명'].isnull()]

       시도명 시군구명 상권업종중분류명 상권업종소분류명               표준산업분류명        상호명
219    NaN  NaN       병원      한의원                   한의원      극동한의원
458    NaN  NaN       병원     치과의원                 치과 의원    안산시치과협회
460    NaN  NaN       병원  정형/성형외과                 일반 의원    김호준성형외과
470    NaN  NaN       병원    내과/외과                 일반 의원    노홍기냇과위원
499    NaN  NaN    유사의료업   척추교정치료                유사 의료업       척추교정
...    ...  ...      ...      ...                   ...        ...
79941  NaN  NaN       병원     기타병원                   NaN  라파통증의학과의원
80740  NaN  NaN   약국/한약방       약국        의약품 및 의료용품 소매업      유디스약국
80759  NaN  NaN    유사의료업    치과기공소  정형외과용 및 신체보정용 기기 제조업    아톰치과기공소
80768  NaN  NaN       병원     한방병원                 한방 병원     생생한방병원
84934  NaN  NaN       병원     치과병원                 치과 병원    신진호치과의원

[379 rows x 6 columns]

In [56]:
# 위치 없는 데이터 드랍
sub_df = sub_df[sub_df['시군구명'].notnull()]
sub_df.head()

     시도명     시군구명 상권업종중분류명 상권업종소분류명         표준산업분류명        상호명
0    경기도  안산시 단원구       병원     산부인과           일반 의원     하나산부인과
1  서울특별시      강남구       병원    내과/외과           일반 의원   타워광명내과의원
2    경기도      시흥시       병원     신경외과           일반 의원  조정현신경외과의원
3  부산광역시      수영구       병원     기타병원             NaN   한귀원정신과의원
4    경기도  용인시 수지구   약국/한약방       약국  의약품 및 의료용품 소매업  더블유스토어수지점

In [66]:
sub_df['상권업종중분류명'].unique(), sub_df['상권업종소분류명'].unique(), sub_df['표준산업분류명'].unique()

(array(['병원', '약국/한약방', '수의업', '유사의료업', '의료관련서비스업'], dtype=object),
 array(['산부인과', '내과/외과', '신경외과', '기타병원', '약국', '동물병원', '한약방', '탕제원',
        '정형/성형외과', '소아과', '이비인후과의원', '노인/치매병원', '언어치료', '수의업-종합', '한의원',
        '치과의원', '침구원', '일반병원', '안과의원', '조산원', '한방병원', '종합병원', '유사의료업기타',
        '응급구조대', '혈액원', '치과병원', '척추교정치료', '피부과', '비뇨기과', '치과기공소', '산후조리원',
        '접골원', '수의업-기타', '제대혈'], dtype=object),
 array(['일반 의원', nan, '의약품 및 의료용품 소매업', '수의업', '그외 기타 분류안된 상품 전문 소매업',
        '일반 병원', '유사 의료업', '한의원', '치과 의원', '그외 기타 보건업', '한방 병원', '종합 병원',
        '앰뷸런스 서비스업', '치과 병원', '정형외과용 및 신체보정용 기기 제조업', '개인 간병인 및 유사 서비스업'],
       dtype=object))

In [70]:
a = sub_df.groupby(by=['시도명', '상권업종소분류명'])[['상호명']].count()
a
# a.to_csv('cla.csv', encoding='cp949')

               상호명
시도명  상권업종소분류명
강원도  기타병원      123
     내과/외과     350
     노인/치매병원    31
     동물병원       85
     비뇨기과       17
...            ...
충청북도 피부과        15
     한방병원        6
     한약방        57
     한의원       386
     혈액원         5

[523 rows x 1 columns]